body{
  background: url(_original.jpg) repeat 50% 0;
}
.element{
  padding: 10px;
  shape-outside: circle(40%);
  -webkit-clip-path: circle(40%);
  width: 200px;
  height: 200px;
  transition: all 0.3s;
  float: left;
  background: #aaf770;
  margin: 5px;
  border: 5px #000000;
  border-radius: 100%;
}

.element:hover{
  shape-outside: circle(50%);
  -webkit-clip-path: circle(50%);
}
.book{
  width: 75%;
  padding: 15px;
  padding-left: 40px;
  color: #000000;
  text-shadow:  -2px 2px 5px 1px rgba(0,0,0,1);
  margin: 0px auto;
}
.sheet{
  width: 80%;
  height: 1000px;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  text-align: justify;
  transition: all 0.3s;
  -moz-transition: all 0.05s;
  box-shadow: -2px 2px 5px 1px rgba(0,0,0,1);
  z-index: 1;
  background: #f0f0ff;
}
.sheetbutton{
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius:    10px 10px 0 0;
  border-radius:         10px 10px 0 0;
  text-align: center;
  letter-spacing: 4px;
  line-height: 40px;
  height: 40px;
  width: 125px;
  transform: rotate(-90deg);
  transform-origin: right 35px 0;
  box-shadow: -2px 2px 5px 1px rgba(0,0,0,1);
  z-index: 1;
  overflow: hidden;
  padding: 0 5px 0 5px;
}
.sheetbutton:hover {
  cursor: pointer;
}
.sheetcontent{
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: inherit;
}
@-webkit-keyframes swap {
  50% {left: -90%;}
  100% {left: 10%;}
}
@-moz-keyframes swap {
  50% {left: -90%;}
  to {left: 10%;}
}
@keyframes swap {
  0% {z-index: 2;}
  50% {left: -90%; z-index: 5}
  100% {left: 10%;}
}
.oneanim{
  -webkit-animation: swap 0.5s forwards;
  -moz-animation: swap 0.6s forwards;
}
.one{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 5;
}
.first{
  /*background: #790000;*/
  /*background: url(_original.jpg) repeat 50% 0;*/
}
.first .sheetbutton{
  position: absolute;
  top: -15px;
  left:-125px;
  background: inherit;
  /*box-shadow: -5px -5px 5px 0px rgba(0,0,0,1), inset 0 0 0 100px rgba(250,50,50,0.5);*/
  box-shadow:
    -4px -5px 3px -2px #000000,
    inset  5px 0   0px #123456,
    inset  -5px  0 0px #123456,
    inset  0   6px 2px #123456;
}
.first .sheetcontent{
  box-shadow: 
    inset 5px 0 0px #123456;
}
.two{
  position: absolute;
  top: 11%;
  left: 9.5%;
  z-index: 4;
}
.second{
  /*background: #000000;*/
}
.second .sheetbutton{
  position: absolute;
  top: 105px;
  left:-125px;
  background: inherit;
  box-shadow: 
    -4px -5px 3px -2px #000000,
    inset  5px 0   0   #edc321,
    inset  -5px  0 0   #edc321,
    inset  0   6px 2px #edc321;
}
.second .sheetcontent{
  box-shadow: 
    inset 5px 0 0 #edc321;
}
.three{
  position: absolute;
  top: 12%;
  left: 9%;
  z-index: 3;
}
.third{
  /*background: #012345;*/
}
.third .sheetbutton{
  position: absolute;
  top: 220px;
  left:-125px;
  background: inherit;
  box-shadow: 
    -4px -5px 3px -2px #000000,
    inset  5px 0   0 #990000,
    inset  -5px  0 0 #990000,
    inset  0 6px 2px #990000;
}
.third .sheetcontent{
  box-shadow: 
    inset 5px 0 0 #990000;
}
.four{
  position: absolute;
  top: 13%;
  left: 8.5%;
  z-index: 2;
}
.fourth{
  /*background: #543210;*/
}
.fourth .sheetbutton{
  position: absolute;
  top: 335px;
  left:-125px;
  background: inherit;
  box-shadow: 
    -4px -5px 3px -2px #000000,
    inset  5px 0   0 #333333,
    inset  -5px  0 0 #333333,
    inset  0 6px 2px #333333;
}
.fourth .sheetcontent{
  box-shadow: 
    inset 5px 0 0 #333333;
}
.five{
  position: absolute;
  top: 14%;
  left: 8%;
  z-index: 1;
}
.fifth{
  /*background: #fedcba;*/
}
.fifth .sheetbutton{
  position: absolute;
  top: 450px;
  left:-125px;
  background: inherit;
  box-shadow: 
    -4px -5px 3px -2px #000000,
    inset  5px 0   0 #007711,
    inset  -5px  0 0 #007711,
    inset  0 6px 2px #007711;
}
.fifth .sheetcontent{
  box-shadow: 
    inset 5px 0 0 #007711;
}